body {
	text-align: center ; 
	font-family: serif ;
	font-size: 30px;
}
P {
    line-height: 1.5
   }
   .img-lio {
        transform: rotate(180deg);
   }


/*table {*/
/*    border: 1px solid grey;*/
/*    border-collapse: collapse;*/
/*}*/

/*th {*/
/*    border: 1px solid grey*/
/*}*/

/*td {*/
/*    border: 1px solid grey;*/
/*}*/

.border-class {
    border: 1px solid grey;
    border-collapse: collapse;
}

{
    border: 1px solid grey
}